*.vs

*/*.logs
*/*/bin
*/*/obj

/bin
/obj

/bin/Release
/bin/Debug

/bin/Release/netcoreapp3.1
/bin/Debug/netcoreapp3.1

/bin/Release/net5.0
/bin/Debug/net5.0

/bin/Release/net6.0
/bin/Debug/net6.0

/bin/Release/net7.0